body {
  background-color: #FFF1D0;
  margin: 0;
  padding: 0;
}
body footer {
  color: #fff;
  background: #222;
  padding: 20px;
  text-align: right;
  margin-top: 40px;
}
nav {
  background: #fff;
  padding: 20px;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}
nav #title {
  float: left;
}
nav ul {
  margin-right: 50px;
  padding: 0;
  text-align: right;
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 10px;
}
#landing {
  margin: 100px 0;
  width: 100%;
  text-align: center;
}
#landing header {
  display: -webkit-flex;
  display: flex;
}
#landing img {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#about {
  position: relative;
  margin: 60px auto;
  width: 80%;
}
#about section {
  display: -webkit-flex;
  display: flex;
}
#about section .subject {
  width: calc(60% - 40px);
  padding: 20px;
}
#about section .subject header {
  font-weight: bold;
  align-content: left;
}
#about section img {
  width: 40%;
  height: 200px;
}
#partners {
  margin: 60px auto;
  text-align: center;
}
#partners img {
  width: 300px;
  padding: 20px;
}
#contact {
  width: 80%;
  position: relative;
  margin: 60px auto;
}
#contact header h2 {
  margin: 0;
  display: block;
  text-align: center;
}
#contact section {
  display: -webkit-flex;
  display: flex;
}
#contact section section {
  width: 50%;
}
#contact section section table {
  padding: 20px;
  margin: auto;
}
#contact section section table table th {
  text-align: center;
}
#contact section section table img {
  width: 200px;
  height: 200px;
}
