@import "variables.less";

body {
  background-color: @cream;

  footer {
    p {
      margin-bottom: -15px;
    }
  }
}

#landing {
  header {
    display: flex;
  }
}

#about {
  header {
    font-weight: bold;
  }
}
